@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600;700;800&family=Nunito:wght@400;800&family=Poppins:ital,wght@1,100;1,600&display=swap");
@media (max-width: 1024px) {
  .logonav {
    width: 500px; } }

@media (max-width: 1000px) {
  .logonav {
    width: 450px; } }

@media (max-width: 768px) {
  .logonav {
    width: 480px; } }

@media (max-width: 450px) {
  .logonav {
    display: none; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* MEDIA NAVBAR */
.navBar {
  background-color: white;
  margin-left: 30px;
  padding: 1px;
  gap: 5px; }
  .navBar li {
    border: 5.3px double black; }
    .navBar li a {
      color: black;
      font-style: normal; }
    .navBar li:hover {
      background-color: rgba(255, 217, 0, 0.603); }

.dropnavBar li a:hover {
  background-color: rgba(255, 217, 0, 0.603); }

.barraNav {
  justify-content: flex-end; }

.comienzo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .comienzo img {
    width: 75px; }

.tituloverificado {
  margin: 30px 30px; }

.titulopgnserv {
  padding: 10px;
  color: #000020;
  text-shadow: 2px 3px 5px black;
  text-align: center;
  font-size: 40px;
  text-decoration: overline 2px solid black; }

.titulopgns {
  padding: 10px;
  font-size: 30px;
  font-style: oblique;
  text-align: center;
  margin-top: 20px; }

.productos-nuest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px; }

.verificado {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin: auto; }

.servicios {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 20px;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px rgba(0, 0, 0, 0.19);
  float: left;
  width: 200px;
  height: 300px;
  padding-bottom: 40px;
  justify-content: center; }
  .servicios div img {
    width: 100%;
    height: auto; }

.pieservis {
  width: 200px;
  text-shadow: 2px 2px 5px black;
  padding: 10px; }
  .pieservis p {
    text-align: center; }

.caracteristicas {
  font-style: oblique;
  font-size: small; }

.titulonuestrascosas {
  width: 100%;
  align-items: center;
  justify-content: center; }
  .titulonuestrascosas h2 {
    padding-bottom: 40px;
    font-size: 30px;
    font-style: oblique;
    text-align: center; }
  .titulonuestrascosas h3 {
    padding-bottom: 40px;
    font-size: 30px;
    font-style: oblique;
    text-align: center; }

.nuestras-cosas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 20px; }

.galeria {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px rgba(0, 0, 0, 0.19);
  width: 200px;
  height: auto;
  padding-bottom: 40px;
  justify-content: center; }
  .galeria img {
    width: 100%;
    height: auto;
    margin: auto; }

.nue-cos {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px; }

.pie {
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  padding: 10px; }
  .pie:hover {
    border: 2px solid black;
    transform: rotate(-3deg);
    box-shadow: 10px 20px 20px black; }
  .pie a {
    text-decoration: none;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 5px black;
    padding: 10px; }

.marcas-las {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; }
  .marcas-las h2 {
    padding: 10px;
    font-size: 30px;
    font-style: oblique;
    text-align: center;
    margin-top: 30px; }
  .marcas-las img {
    display: flex;
    width: 105px;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap; }

.img-hija-marca {
  display: flex;
  flex-wrap: wrap; }

.testimonios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.testimonios__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  padding: 10px 20px; }
  .testimonios__header h1 {
    font-size: 2.9rem;
    font-weight: 50;
    background-color: black;
    color: white;
    padding: 10px 20px; }
  .testimonios__header span {
    font-size: 2.2rem;
    color: black;
    margin-bottom: 25px;
    text-transform: uppercase; }

.testimonios__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; }

.testimonios__caja {
  width: 500px;
  box-shadow: 2px 2px 30px black;
  background-color: white;
  padding: 20px;
  margin: 15px;
  cursor: pointer; }

.perfil-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px; }
  .perfil-img img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.perfil {
  display: flex;
  align-items: center; }

.name-user {
  display: flex;
  flex-direction: column; }
  .name-user strong {
    color: black;
    font-size: 1.3rem; }
  .name-user span {
    color: lightslategray; }

.reseñas {
  color: rgba(233, 211, 8, 0.596); }

.caja-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px; }

.comentarios__clientes p {
  color: #000020; }

.iframe-mm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
  margin-bottom: 20px;
  flex-wrap: wrap; }

.opciones {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto; }

.elijo-espuma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 600px;
  border: 3px double black;
  border-radius: 10px; }
  .elijo-espuma a {
    list-style: none;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: x-large;
    font-style: oblique;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    padding: 20px 10px;
    margin: 30px;
    justify-content: center; }
    .elijo-espuma a:hover {
      transform: rotate(-3deg); }
  .elijo-espuma img {
    width: 200px;
    padding: 3px;
    justify-content: center;
    align-items: center; }
  .elijo-espuma p {
    width: 300px;
    font-size: larger;
    font-style: italic;
    font-weight: 100;
    color: black;
    text-align: center;
    padding: 10px; }

.poket {
  margin-bottom: 20px; }

.medidas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  text-align: center;
  padding: 30px;
  gap: 10px; }
  .medidas h2 {
    width: 100%;
    font-size: 30px;
    font-style: oblique;
    text-align: center;
    margin-top: 30px;
    padding: 20px 20px; }
  .medidas button {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 150px;
    height: 200px;
    background-color: black;
    padding: 30px; }
    .medidas button:hover {
      transform: skew(-3deg); }
  .medidas a {
    margin: auto;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 5px;
    cursor: pointer; }

.tituloespuma {
  margin: auto;
  background-color: black;
  width: 100%;
  text-align: center; }
  .tituloespuma h2 {
    text-align: center;
    font-size: 50px;
    padding: 20px 20px;
    font-style: oblique;
    color: white; }

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }

.card {
  width: 295px;
  height: 600px;
  margin: 20px;
  border: 5.3px double black;
  border-radius: 9px;
  overflow: hidden;
  background-color: white;
  cursor: default;
  transition: all 400ms ease; }
  .card:hover {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2); }
  .card img {
    width: 295px;
    height: 300px; }

.contenido {
  padding: 15px;
  text-align: center; }
  .contenido p {
    padding: 15px;
    line-height: 1.5;
    border: 0.5 solid white;
    border-radius: 8px;
    color: white;
    background-color: black; }
  .contenido h3 {
    font-weight: 600;
    margin-bottom: 15px; }
  .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    background-color: black;
    transition: all 400ms ease; }

.tituloresorte {
  margin-top: 20px;
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap; }
  .tituloresorte h2 {
    font-style: oblique;
    font-size: 50px;
    padding: 20px 20px;
    color: white;
    text-align: center; }

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }

.card {
  width: 295px;
  height: 600px;
  margin: 20px;
  border: 5.3px double black;
  border-radius: 9px;
  overflow: hidden;
  background-color: white;
  cursor: default;
  transition: all 400ms ease; }
  .card:hover {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2); }
  .card img {
    width: 300px;
    height: 300px; }

.contenido {
  padding: 15px;
  text-align: center; }
  .contenido p {
    padding: 15px;
    line-height: 1.5;
    border: 0.5 solid white;
    border-radius: 8px;
    color: white;
    background-color: black; }
  .contenido h3 {
    font-weight: 600;
    margin-bottom: 15px; }
  .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    background-color: black;
    transition: all 400ms ease; }

.tituloresortepoket {
  margin-top: 20px;
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap; }
  .tituloresortepoket h2 {
    font-size: 50px;
    padding: 20px 20px;
    font-style: oblique;
    color: white;
    text-align: center; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px; }

.card {
  width: 295px;
  height: 600px;
  margin: 20px;
  border: 5.3px double black;
  border-radius: 9px;
  overflow: hidden;
  background-color: white;
  cursor: default;
  transition: all 400ms ease; }
  .card:hover {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2); }
  .card img {
    width: 300px;
    height: 300px; }

.contenido {
  padding: 15px;
  text-align: center; }
  .contenido p {
    padding: 15px;
    line-height: 1.5;
    border: 0.5 solid white;
    border-radius: 8px;
    color: white;
    background-color: black; }
  .contenido h3 {
    font-weight: 600;
    margin-bottom: 15px; }
  .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    background-color: black;
    transition: all 400ms ease; }

.titulounaplaza {
  margin-top: 20px;
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap; }
  .titulounaplaza h2 {
    font-size: 50px;
    padding: 20px 20px;
    font-style: oblique;
    color: white;
    text-align: center; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px; }

.card {
  width: 295px;
  height: 600px;
  margin: 20px;
  border: 5.3px double black;
  border-radius: 9px;
  overflow: hidden;
  background-color: white;
  cursor: default;
  transition: all 400ms ease; }
  .card:hover {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2); }
  .card img {
    width: 300px;
    height: 300px; }

.contenido {
  padding: 15px;
  text-align: center; }
  .contenido p {
    padding: 15px;
    line-height: 1.5;
    border: 0.5 solid white;
    border-radius: 8px;
    color: white;
    background-color: black; }
  .contenido h3 {
    font-weight: 600;
    margin-bottom: 15px; }
  .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    background-color: black;
    transition: all 400ms ease; }

.titulounaplazaymedia {
  margin-top: 20px;
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap; }
  .titulounaplazaymedia h2 {
    font-size: 50px;
    padding: 20px 20px;
    font-style: oblique;
    color: white;
    text-align: center; }

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }

.card {
  width: 295px;
  height: 600px;
  margin: 20px;
  border: 5.3px double black;
  border-radius: 9px;
  overflow: hidden;
  background-color: white;
  cursor: default;
  transition: all 400ms ease; }
  .card:hover {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2); }
  .card img {
    width: 300px;
    height: 300px; }

.contenido {
  padding: 15px;
  text-align: center; }
  .contenido p {
    padding: 15px;
    line-height: 1.5;
    border: 0.5 solid white;
    border-radius: 8px;
    color: white;
    background-color: black; }
  .contenido h3 {
    font-weight: 600;
    margin-bottom: 15px; }
  .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    background-color: black;
    transition: all 400ms ease; }

.titulotwing {
  margin-top: 20px;
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap; }
  .titulotwing h2 {
    font-size: 50px;
    padding: 20px 20px;
    font-style: oblique;
    color: white;
    text-align: center; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px; }

.card {
  width: 295px;
  height: 600px;
  margin: 20px;
  border: 5.3px double black;
  border-radius: 9px;
  overflow: hidden;
  background-color: white;
  cursor: default;
  transition: all 400ms ease; }
  .card:hover {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2); }
  .card img {
    width: 300px;
    height: 300px; }

.contenido {
  padding: 15px;
  text-align: center; }
  .contenido p {
    padding: 15px;
    line-height: 1.5;
    border: 0.5 solid white;
    border-radius: 8px;
    color: white;
    background-color: black; }
  .contenido h3 {
    font-weight: 600;
    margin-bottom: 15px; }
  .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    background-color: black;
    transition: all 400ms ease; }

.titulodosplazasymedia {
  margin-top: 20px;
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap; }
  .titulodosplazasymedia h2 {
    font-size: 50px;
    padding: 20px 20px;
    font-style: oblique;
    color: white;
    text-align: center; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px; }

.card {
  width: 295px;
  height: 600px;
  margin: 20px;
  border: 5.3px double black;
  border-radius: 9px;
  overflow: hidden;
  background-color: white;
  cursor: default;
  transition: all 400ms ease; }
  .card:hover {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2); }
  .card img {
    width: 300px;
    height: 300px; }

.contenido {
  padding: 15px;
  text-align: center; }
  .contenido p {
    padding: 15px;
    line-height: 1.5;
    border: 0.5 solid white;
    border-radius: 8px;
    color: white;
    background-color: black; }
  .contenido h3 {
    font-weight: 600;
    margin-bottom: 15px; }
  .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    background-color: black;
    transition: all 400ms ease; }

.tituloqueen {
  margin-top: 20px;
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap; }
  .tituloqueen h2 {
    font-size: 50px;
    padding: 20px 20px;
    font-style: oblique;
    color: white;
    text-align: center; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px; }

.card {
  width: 295px;
  height: 600px;
  margin: 20px;
  border: 5.3px double black;
  border-radius: 9px;
  overflow: hidden;
  background-color: white;
  cursor: default;
  transition: all 400ms ease; }
  .card:hover {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2); }
  .card img {
    width: 300px;
    height: 300px; }

.contenido {
  padding: 15px;
  text-align: center; }
  .contenido p {
    padding: 15px;
    line-height: 1.5;
    border: 0.5 solid white;
    border-radius: 8px;
    color: white;
    background-color: black; }
  .contenido h3 {
    font-weight: 600;
    margin-bottom: 15px; }
  .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    background-color: black;
    transition: all 400ms ease; }

.tituloking {
  margin-top: 20px;
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap; }
  .tituloking h2 {
    font-size: 50px;
    padding: 20px 20px;
    font-style: oblique;
    color: white;
    text-align: center; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px; }

.card {
  width: 295px;
  height: 600px;
  margin: 20px;
  border: 5.3px double black;
  border-radius: 9px;
  overflow: hidden;
  background-color: white;
  cursor: default;
  transition: all 400ms ease; }
  .card:hover {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2); }
  .card img {
    width: 300px;
    height: 300px; }

.contenido {
  padding: 15px;
  text-align: center; }
  .contenido p {
    padding: 15px;
    line-height: 1.5;
    border: 0.5 solid white;
    border-radius: 8px;
    color: white;
    background-color: black; }
  .contenido h3 {
    font-weight: 600;
    margin-bottom: 15px; }
  .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    background-color: black;
    transition: all 400ms ease; }

.titulosuperking {
  margin-top: 20px;
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap; }
  .titulosuperking h2 {
    font-size: 50px;
    padding: 20px 20px;
    font-style: oblique;
    color: white;
    text-align: center; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px; }

.card {
  width: 295px;
  height: 600px;
  margin: 20px;
  border: 5.3px double black;
  border-radius: 9px;
  overflow: hidden;
  background-color: white;
  cursor: default;
  transition: all 400ms ease; }
  .card:hover {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2); }
  .card img {
    width: 300px;
    height: 300px; }

.contenido {
  padding: 15px;
  text-align: center; }
  .contenido p {
    padding: 15px;
    line-height: 1.5;
    border: 0.5 solid white;
    border-radius: 8px;
    color: white;
    background-color: black; }
  .contenido h3 {
    font-weight: 600;
    margin-bottom: 15px; }
  .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    background-color: black;
    transition: all 400ms ease; }

.tituloalmohada {
  margin-top: 20px;
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap; }
  .tituloalmohada h2 {
    font-size: 50px;
    padding: 20px 20px;
    font-style: oblique;
    color: white;
    text-align: center; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px; }

.card {
  width: 295px;
  height: 600px;
  margin: 20px;
  border: 5.3px double black;
  border-radius: 9px;
  overflow: hidden;
  background-color: white;
  cursor: default;
  transition: all 400ms ease; }
  .card:hover {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2); }
  .card img {
    width: 300px;
    height: 300px; }

.contenido {
  padding: 15px;
  text-align: center; }
  .contenido p {
    padding: 15px;
    line-height: 1.5;
    border: 0.5 solid white;
    border-radius: 8px;
    color: white;
    background-color: black; }
  .contenido h3 {
    font-weight: 600;
    margin-bottom: 15px; }
  .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    background-color: black;
    transition: all 400ms ease; }

.tituloblanco {
  margin-top: 20px;
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap; }
  .tituloblanco h2 {
    text-align: center;
    font-size: 50px;
    padding: 20px 20px;
    font-style: oblique;
    color: white; }

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }

.card {
  width: 295px;
  height: 600px;
  margin: 20px;
  border: 5.3px double black;
  border-radius: 9px;
  overflow: hidden;
  background-color: white;
  cursor: default;
  transition: all 400ms ease; }
  .card:hover {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2); }
  .card img {
    width: 300px;
    height: 300px; }

.contenido {
  padding: 15px;
  text-align: center; }
  .contenido p {
    padding: 15px;
    line-height: 1.5;
    border: 0.5 solid white;
    border-radius: 8px;
    color: white;
    background-color: black; }
  .contenido h3 {
    font-weight: 600;
    margin-bottom: 15px; }
  .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    background-color: black;
    transition: all 400ms ease; }

.titulosommier {
  margin-top: 20px;
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap; }
  .titulosommier h2 {
    text-align: center;
    font-size: 50px;
    padding: 20px 20px;
    font-style: oblique;
    color: white; }

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }

.card {
  width: 295px;
  height: 600px;
  margin: 20px;
  border: 5.3px double black;
  border-radius: 9px;
  overflow: hidden;
  background-color: white;
  cursor: default;
  transition: all 400ms ease; }
  .card:hover {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2); }
  .card img {
    width: 300px;
    height: 300px; }

.contenido {
  padding: 15px;
  text-align: center; }
  .contenido p {
    padding: 15px;
    line-height: 1.5;
    border: 0.5 solid white;
    border-radius: 8px;
    color: white;
    background-color: black; }
  .contenido h3 {
    font-weight: 600;
    margin-bottom: 15px; }
  .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    background-color: black;
    transition: all 400ms ease; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  margin: auto; }

.container__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/black-background-images-arranged-with-curved-shapes-vector.jpg);
  flex-wrap: wrap; }

.box__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px; }
  .box__footer .logo img {
    width: 200px;
    opacity: 20%;
    align-items: center;
    justify-content: center; }
  .box__footer h2 {
    color: white;
    font-weight: 700;
    text-align: center; }
  .box__footer a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    margin-top: 10px;
    color: white;
    font-weight: 600;
    list-style: none;
    text-align: center; }
    .box__footer a:hover {
      opacity: 0.8; }
    .box__footer a .fab {
      text-align: center;
      font-size: 45px; }
  .box__footer p {
    color: white;
    text-align: center; }

.terms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  max-width: 350px;
  font-weight: 500;
  color: white;
  font-size: 25px; }
  .terms p {
    padding: 30px;
    text-align: center; }
  .terms img {
    margin-top: 20px;
    opacity: 80%; }

.box__copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  text-align: center; }
  .box__copyright p {
    margin-top: 20px;
    color: white;
    text-align: center; }
  .box__copyright hr {
    text-align: center;
    border: none;
    height: 1px;
    background-color: white; }
