.tituloking{
	margin-top: 20px;
	display: flex;
	background-color: $color_2;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	h2 {
		font-size: 50px;
		padding: 20px 20px;
		font-style: oblique;
		color: $color_3;
		text-align: center;
	}
}

.container {
	@include flexible(flex,row,center,center);
	flex-wrap: wrap;
	width: 100%;
	margin-top: 20px;
}
.card {
	width: 295px;
	height: 600px;
	margin: 20px;
	border: 5.3px double black;
	border-radius: 9px;
	overflow: hidden;
	background-color:$background-color_2;
	
	cursor: default;
	transition: all 400ms ease;
	&:hover {
		box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2);
	}
	img {
		width: 300px;
		height: 300px;
	}
}
.contenido {
	padding: 15px;
	text-align: center;
	p {
		padding: 15px;
		line-height: 1.5;
		border: 0.5 solid white;
		border-radius: 8px;
		color: $color_3;
		background-color: $background-color_1;
	}
	h3 {
		font-weight: 600;
		margin-bottom: 15px;
	}
	a {
		text-decoration: none;
		display: inline-block;
		padding: 10px;
		margin-top: 10px;
		color: $color_3;
		border: 1px solid #2fb4cc;
		border-radius: 4px;
		background-color:$background-color_1;
		transition: all 400ms ease;
	}
}
